/* body{
    margin: 50px;
} */
a{
    background-color: #f50c0c;
    padding: 10px 20px;
    display: inline-block; 
    font-size: 30px;
   
    
    
}
.nav{
    
    width: 100%;
    /* position: fixed; */
    
    /* list-style: none; */
    
    
    
   
}
a:hover{
    background-color: seagreen;
     color: snow;
}
 .d1{
    float: right; 
 }  
 footer{
     /* background-color: violet; */
 }
   /* .c1{
    float: left;
}  */